@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400');
html, body {height: 100%;}

body { display: none; }

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 51px;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

@media(max-width: 500px){
	.section-1 .section-1-h1 {font-size: 35PX !important;}

}

@media(max-width: 1024px){
	.section-1 {height: 500px !important;}
}

.navbar{
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: black;
}

.moveTo{
	transition: all .2s ease-in-out;
	text-decoration: none;
    color: white;
}

.moveTo:hover { 
	transform: scale(1.9); 
	text-decoration: none;
	color: white;

}

.section-1 {
	background-image: url("web/section-1-background-image.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    height:100%;
}

.section-1 .section-1-text{
	position: relative;
	top: 350px;
	right: 20px;
	float: right;
}

.section-1 .section-1-text span{
	color: white;
}

.section-1 .section-1-h1{
	color: white;
	font-size: 50px;
	line-height: 40px;
}

.section-1 .section-1-h1 small{
	color: white;
}

.section-2 {
    background-color: white;
}

.section-2-text, .section-3-text, .section-4-text, .section-5-text{
	padding: 50px 50px 50px 50px;
}

.section-2 .about-me-text{
	font-size: 15px;
}

.section-2 .section-2-quote-text{
	background-color:  #f2f2f2;
	padding-right: 20px;
	border-width: 10px;
	border-style: solid;
	border-color:  #f2f2f2;

}

.section-3 {
}

.section-3 .section-3-text{
	color: #2D2D2D;
}

.section-3-text{

    padding-bottom: 0px !important;

}
.section-4{
background-color: white !important;

}
.section-4 .section-4-text p{
	font-size: 13px !important;
}

.section-5 {
	/*background-color: rgb(55, 67, 85);*/
	background-color: #2D2D2D
}

.section-5 .section-5-text{
	color: white;
}

.section-5 label{
	color: white !important;
}

#message{
	height: 200px;
}

.bottom-profile-img{
	height: 225px;
	border-style: solid;
	border-radius: 30px;
	border-color: white;
}
.btn-social-icon{
	font-size: 25px !important;
	height: 50px !important;
	width: 50px !important;
}

#email-icon{
	font-size: 30px !important;
	height: 60px !important;
	width: 60px !important;
	position: relative;
	top: 10px;
}

#email-icon>:first-child{
	top: 0px !important;
	padding-top: 10px !important;
}

#social-icons-div {
	height: 75px;
  	transition: background-color 1s ease;
	border-radius: 10px;

}

#social-icons-div:hover{
	background-color: #f33446;
	border-style: solid;
	border-color: #f33446;
}

#social-icons-div:hover > .btn-linkedin, #social-icons-div:hover > .btn-facebook, #social-icons-div:hover > .btn-github, #social-icons-div:hover > .btn-github{
	color:#f33446;background-color:#fff;
	border-color:rgba(0,0,0,0.2);


}

#social-icons-div:hover > .btn-envelope{
	color:#f33446;background-color:#fff;
	border-color:rgba(0,0,0,0.2);
}

#icon-move-down{
	position: relative;
	top: 11px;
	display: block;
	width: 100%;
	height: 100%;
}
.section-3 .project-item{
	display: block;
	height: 200px;
	width: 100%;
	background-color: #ff3333;

}
.copyrighted-section .copyright-text{
	color: white;
}

.magnifying-glass {
	height: 100px;
	width: 100px;
	position: relative;
	bottom: 150px;
	display: block;
  	transition: 1s ease;
  	opacity: 0.0;
  	text-align: center;
}

.project-item{
	transition: 1s ease;
}

.project-item:hover + .magnifying-glass {
    opacity: 1;
}

.magnifying-glass:hover{
	opacity: 1;
}

.project-item:hover{
	opacity: 0.4;
	background-color:  #ff6666;
}

.project-title{
	position: relative;
	left: 13px;
}

.section-2-h1 b, .section-3-h1 b, .section-4-h1 b{
	border-bottom: solid;
    border-color: #f33446;
    border-width: 1px
}

.section-3-h1{
	    margin-bottom: 70px;

}

#positionUp{
	position: relative;
    bottom: 45px;
}
.hover { transition: all .2s ease-in-out; padding: 20px 0px;}
.hover:hover { transform: scale(1.1); }

@media(max-width: 991px){

	.hover:hover {padding: 40px 0px !important; }
	#positionUp{top: 0px !important; bottom: 0px !important;}
}
small{
	font-size: 50% !important;
}

		.go-top {
		    position: fixed;
		    bottom: 0.75em;
		    right: 0.5em;
		    text-decoration: none;
		    color: white;
		    background-color: rgba(0, 0, 0, 0.6);
		    font-size: 12px;
		    padding: 10px;
		    display: none;
		    margin: 0;
		}

		.go-top:hover {
		    background-color: rgba(0, 0, 0, 0.9);
		    color: white;
		    text-decoration: none;
		}
