@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400');
html, body {height: 100%;}

body { display: none;  background-color: #2d2d2d}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 51px;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

@media(max-width: 500px){
	.section-1 .section-1-h1 {font-size: 35PX !important;}

}

@media(max-width: 1024px){
	.section-1 {height: 500px !important;}
}

.section-1 {
	background-image: url("web/section-1-background-image.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    height:100%;
}

.section-1 .section-1-text{
	position: relative;
	top: 350px;
	right: 20px;
	float: right;
}

.section-1 .section-1-text a{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    text-decoration: none;
    color: white;
}

.section-1 .section-1-text a:hover {
	text-decoration: none;
    -ms-transform: scale(2, 3); /* IE 9 */
    -webkit-transform: scale(2, 3); /* Safari */
    transform: scale(2, 3);
}

.section-1 .section-1-text span{
	color: white;
}

.section-1 .section-1-h1{
	color: white;
	font-size: 50px;
	line-height: 40px;
}

.section-1 .section-1-h1 small{
	color: white;
}

.section-2 {
    background-color: white;
}

.section-2-text, .section-3-text, .section-4-text, .section-5-text{
	padding: 50px 50px 50px 50px;
}

.section-2 .about-me-text{
	font-size: 15px;
}

.section-2 .section-2-quote-text{
	background-color:  #f2f2f2;
	padding-right: 20px;
	border-width: 10px;
	border-style: solid;
	border-color:  #f2f2f2;

}

.section-3 {
	background-color: #2D2D2D
}

.section-3 .section-3-text{
	color: white;
}

.section-4{
background-color: white !important;

}

.section-5 {
	/*background-color: rgb(55, 67, 85);*/
	background-color: #2D2D2D
}

.section-5 .section-5-text{
	color: white;
}

.section-5 label{
	color: white !important;
}

#message{
	height: 200px;
}

.bottom-profile-img{
	height: 225px;
	border-style: solid;
	border-radius: 30px;
	border-color: white;
}

.social-icons-section{
	position: relative;
	top: 10px;
}

